/* div 100% là full màn hình */
/* Define variables */
:root {
    --primary-color: #106a39;
    --primary-text-color: #333;
    --primary-font-family: "Roboto", sans-serif;
}

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

.logo-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Set default css */
body {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

/* .mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
} */

/* Layout */
/* .container { */
/* or wrap */
/* max-width: 1280px; */
/* width: 100%; */
/* margin-left: auto; */
/* margin-right: auto; */
/* padding-left: 15px; */
/* padding-right: 15px; */
/* } */

/* .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}

.col-4 {
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.col-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
} */

/* Header */

.logo img {
    margin-top: 10px;
}

/* Presentation */
.primary-menu {
    list-style-type: none;
    /* Remove bullets */
    display: flex;
    justify-content: center;
}

.primary-menu>li>a {
    display: inline-block;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
}

.primary-menu>li:hover>a,
.primary-menu>li.current-item>a {
    background-color: var(--primary-color);
}

/* Main */

.introduction {
    padding-top: 160px;
    padding-bottom: 80px;
}

.introduction img {
    width: 100%;
    max-width: 100%;
}

.introduction .extra-info {
    font-weight: bold;
    margin-bottom: 20px;
}

.introduction .title {
    font-size: 48px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.introduction .content {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.introduction-man {
    margin-top: -80px;
}

.golf-service {
    background-image: url("./images/background-service.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.overlay {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.75);
}

.golf-service .extra-info {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.golf-service .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.golf-service .title::after {
    border-bottom: 5px solid var(--primary-color);
    width: 150px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -10px;
}

.golf-service .content {
    text-align: center;
    margin-bottom: 60px;
}

.golf-service-item {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 30px;
}

.golf-service-item img {
    width: 100%;
    max-width: 100%;
}

.other-services .extra-info {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.other-services .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.other-services .content {
    text-align: center;
    margin-bottom: 60px;
}

.other-services-item {
    height: 300px;
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.other-services-item img {
    width: 80px;
    height: auto;
    margin-bottom: 16px;
}

.info-group {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sale-off {
    padding: 10px 15px;
    background-color: blue;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.consultant {
    background-image: url("./images/background-consultant.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.consultant img {
    display: block;
    margin: auto;
    margin-top: 80px;
}

.consultant .title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.consultant .content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

/* Footer*/
.go-to-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media (max-width: 768px) {

    /* .col-6,
    .col-3,
    .col-4 {
        width: 100%;
    } */

    .logo {
        display: block;
        background-color: #fff;
        width: 100%;
    }

    .introduction-girl {
        margin-top: 80px;
    }

    .introduction-man {
        margin-top: 20px;
    }

}